@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import "react-slideshow-image/dist/styles.css";
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url("./images/pink-pastel-background.jpg"); */

  background-image: url("./images/satellite.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#root {
  height: 100vh;
  position: relative;
  --title-font-family: "Berkshire Swash", cursive;
  --title-font-family2: "Akaya Telivigala", cursive;
  --font-family-p: "Dancing Script", cursive;
  --black: rgba(0, 0, 0, 0.8);
  --on-hover-purple: #7203d3;
  --white: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*---------HOME COMPONENT------------------------------------*/
.home-container {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--white);
  padding: 20px 20px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.top,
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.elem-ToLeft {
  background: orange;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: moveToLeft 5s linear infinite;
  animation-delay: 500ms;
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}
.elem-ToLeft:hover,
.elem-ToRight:hover,
div.small:hover {
  cursor: pointer;
  color: #00dbde;
  transform: scale(1.05);
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0px);
    background: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #ff8c7f 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
    );
  }
  25% {
    transform: translateX(-400px);
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  50% {
    transform: translateY(-200px) translateX(-400px);
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }

  75% {
    transform: translateX(0px) translateY(-200px);
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes moveToTop {
  0% {
    transform: translateY(1000px);
    background: linear-gradient(
      to right,
      #fc00ff 0%,
      #f78ff9 0%,
      #fbb2fc 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
    );
  }
  25% {
    transform: translateX(400px);
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  50% {
    transform: translateY(-1000px);
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }

  75% {
    transform: translateX(-400px);
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
  100% {
    transform: translateY(1000px);
  }
}

.elem-ToTop {
  background: #fc00ff;
  animation: moveToTop 15s linear infinite;
  animation-delay: 1000ms;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

.elem-ToRight {
  background: orange;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: moveToRight 5s linear infinite;
  animation-delay: 1000ms;
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

@keyframes moveToRight {
  0% {
    transform: translateX(0px);
    background: linear-gradient(
      to left,
      #b12a5b 0%,
      #cf556c 0%,
      #f99185 21%,
      #ff8c7f 52%,
      #ff867a 78%,
      #ff8177 100%
    );
  }
  25% {
    transform: translateX(400px);
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  50% {
    transform: translateY(200px) translateX(400px);
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }

  75% {
    transform: translateX(0px) translateY(200px);
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
  100% {
    transform: translateY(0px);
  }
}
div.small {
  width: 100px;
  height: 100px;
}

h1.main-slogan {
  font-family: var(--title-font-family);
  color: var(--white);
  text-shadow: -4px 3px 0 #00dbde, -14px 7px 0 #0a0e27;
  text-align: center;
  padding-top: 150px;
}

.block h1 span {
  display: block;
  opacity: 0;
  transform: translateY(-30px);
}

.block h1 > span:nth-child(1) {
  /* color: #9430eb; */
  /* mix-blend-mode: multiply; */
  display: block;
  font-size: 90px;
  animation: apparition 0.8s 0.2s ease-out forwards;
}

.block h1 > span:nth-child(2) {
  /* color: #9430eb; */
  /* mix-blend-mode: multiply; */
  display: block;
  font-size: 90px;
  animation: apparition 0.8s 0.5s ease-out forwards;
}

.block h1 > span:nth-child(3) {
  /* color: #9430eb; */
  /* mix-blend-mode: multiply; */
  display: block;
  font-size: 120px;
  animation: apparition 1s 0.9s ease-out forwards;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

/*---------NAVBAR------------------------------------*/

nav.mainNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: translateY(-30px);
  animation: apparition 0.4s 1.6s ease-out forwards;
}

nav.nav-background {
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0;
}

h2 .logo2 {
  display: inline-block;
  color: #fc00ff;
  border: 3px solid var(--white);
  border-radius: 2rem;
  margin-right: 10px;
  margin-bottom: 5px;
}

nav h2.white,
nav h5.white {
  color: var(--white);
  margin-top: 10px;
  font-family: var(--title-font-family);
}

nav h2.white:hover,
nav h5.white:hover {
  cursor: pointer;
  color: var(--on-hover-purple);
}

nav h5.white {
  font-size: 25px;
  margin-right: 15px;
}

nav h2.brand {
  font-weight: bold;
  font-family: var(--title-font-family);
  font-size: 40px;
  margin-right: 20px;
}

.nav-btn-white {
  border: 2px solid var(--white) !important;
  background-color: var(--white) !important;
  margin-top: 20px;
  margin-bottom: 15px;
}

/*---------SIDEBAR------------------------------------*/

div.sidebar {
  height: auto;
  width: 100vw;
  background-color: #fc00ff;
  color: var(--white);
  padding: 0;
  font-family: var(--title-font-family);
  font-size: 20px;
}

.show {
  display: "";
}

.hide {
  display: none;
}

.usernameDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

ul.privateList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 0;
}

ul.privateList li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 60px;
  width: 100%;
}

.privateLink {
  padding-left: 5px;
}

ul.privateList li:hover {
  cursor: pointer;
  color: var(--on-hover-purple);
  transform: scale(1.05);
}

#noHover:hover {
  text-decoration: none;
  color: var(--white);
  cursor: default;
  transform: none;
}

.myCourses,
.myOffers {
  width: 60vw;
  min-height: 30vh;
  background-color: #c98cff;
  background-image: linear-gradient(to right, #c98cff, #2fe6e9);
  margin-top: 100px;
  font-weight: bold;
  border-radius: 2rem;
  border: solid 2px lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
  padding: 40px 40px;
}

.myCourses h2 {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  font-family: var(--title-font-family);
  color: #fc00ff;
}

.myCourses h2:hover,
h3#myCourseName:hover {
  color: var(--on-hover-purple);
}

.myProducts-container {
  width: 90%;
  height: auto;
  border: solid 2px lightgray;
  border-radius: 2rem;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
  padding: 20px 30px;
  text-align: center;
  color: var(--on-hover-purple);
  background-color: #fc00ff;
  background-image: linear-gradient(to right, #fc00ff, #c98cff);
}

.myProducts-container p:hover {
  color: var(--white);
}

h3#myCourseName {
  color: var(--white);
  font-family: var(--title-font-family);
}
/*---------SLIDE---------------------------------------------------------*/

.containerSlide {
  margin: auto;
  margin-top: 100px;
  border: solid 2px lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

.containerSlide img {
  height: 750px;
  border: solid 2px lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

.each-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Container holding the image and the text */
.relative-container {
  position: relative;
  text-align: center;
  color: var(--on-hover-purple);
  font-weight: bold;
  font-style: italic;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(47, 230, 233, 0.3);

  background-image: linear-gradient(
    to bottom,
    rgb(47, 230, 233, 0.6),
    rgb(201, 140, 255, 0.7)
  );
  border-radius: 2rem;
  border: solid 2px lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
  padding: 20px 20px;
  font-size: 25px;
  font-family: var(--font-family-p);
}

.centered-text p:hover {
  color: var(--white);
}

h4.titleReview {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #fc00ff;
  text-shadow: -4px 3px 0 var(--black);

  font-family: var(--title-font-family);
  font-size: 30px;
}

h4.titleReview:hover {
  color: var(--on-hover-purple);
  text-shadow: -4px 3px 0 var(--white);
}

/*---------CONTACT FORM/LOGIN/REGISTER------------------------------------*/

.contact-form {
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #fc00ff, #00dbde);
  background: -o-linear-gradient(45deg, #fc00ff, #00dbde);
  background: -moz-linear-gradient(45deg, #fc00ff, #00dbde);
  background: linear-gradient(45deg, #fc00ff, #00dbde);
  border-radius: 2rem;
  padding: 40px 40px;
  /* min-height: 60vh; */
  max-width: 60vw;
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
  margin-top: 100px;
  font-weight: bold;
}

.contact-form h2 {
  font-size: 40px;
}

.contact-form h2,
.contact-form p {
  color: var(--white);
  font-family: var(--title-font-family);
}

.contact-form p:hover {
  cursor: pointer;
  color: var(--on-hover-purple);
}

button {
  background-color: #03befc;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
  /* padding: 10px 20px; */
  border-radius: 1rem;
  font-size: 18px;
  font-family: var(--title-font-family);
}

button:not(.nav.default-nav) {
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
  color: var(--on-hover-purple);
  transform: scale(1.05);
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}
/* .itWorks:hover {
  text-decoration: none !important;
  pointer-events: none;
} */

div.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-container,
.login-container {
  margin-top: 50px;
}

.link-register {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: var(--title-font-family);
}
.special-register,
.terms-link {
  color: var(--white);
  text-decoration: none !important;
}

.special-register:hover {
  cursor: pointer;
  color: var(--on-hover-purple);
  transform: scale(1.05);
}

a.terms-link {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
a.terms-link:hover {
  cursor: pointer;
  color: var(--on-hover-purple);
  transform: scale(1.05);
}

/*---------CARD TEACHER------------------------------------*/

.teacher-card {
  width: 25rem;

  /*original bootstrap card*/
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #fc00ff, #00dbde);
  background: -o-linear-gradient(45deg, #fc00ff, #00dbde);
  background: -moz-linear-gradient(45deg, #fc00ff, #00dbde);
  background: linear-gradient(45deg, #fc00ff, #00dbde);
  font-weight: bold;
  border-radius: 2rem;
  border: solid 2px lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}
img.foto-teacher {
  width: 200px;
  height: 200px;
  align-self: center;
  border-radius: 2rem;
  margin-top: 40px;
  border: solid 2px lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

.teacher-name {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--white);
  align-self: center;
}

p.teacher-name:hover,
p.teacher-description:hover,
.our-teachers p:hover {
  color: var(--black);
}

/*---------TEACHERS COMPONENT------------------------------------*/

.teachers-container {
  /* background-color: #a64bf4;
  background: -webkit-linear-gradient(45deg, #fc00ff, #00dbde);
  background: -o-linear-gradient(45deg, #fc00ff, #00dbde);
  background: -moz-linear-gradient(45deg, #fc00ff, #00dbde);
  background: linear-gradient(45deg, #fc00ff, #00dbde); */

  background-color: #c98cff;
  background-image: linear-gradient(to right, #c98cff, #2fe6e9);
  border-radius: 2rem;
  border: solid 2px lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
  padding: 60px 60px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.teacher-name {
  font-family: var(--title-font-family);
}

.teacher-description {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-family: var(--font-family-p);
  font-size: 20px;
}

.our-teachers {
  background-color: transparent;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 20px 30px 20px 30px;
  margin-bottom: 30px;
  color: var(--white);
  margin-bottom: 0;
}

.our-teachers h1,
.our-teachers h3 {
  color: #fc00ff;
  text-shadow: -4px 3px 0 #0a0e27;
  font-weight: bold;
  text-align: center;
  font-family: var(--title-font-family);
}
.our-teachers h1:hover,
.our-teachers h3:hover {
  color: var(--on-hover-purple);
  text-shadow: -4px 3px 0 var(--white);
}

.our-teachers h3 {
  margin-bottom: 30px;
}

.our-teachers p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  font-family: var(--font-family-p);
}

.teacher-cards-container {
  background-color: transparent;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--white);
}

/*---------COURSES------------------------------------*/

.courses-container {
  background-color: #c98cff;
  background-image: linear-gradient(to right, #c98cff, #2fe6e9);
  color: inherit;
  border-radius: 2rem;
  padding: 30px 30px 30px 30px;
  margin-top: 100px;
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

.courses-container h3 {
  color: var(--on-hover-purple);
  font-weight: bold;
  font-family: var(--title-font-family);
  /* text-transform: uppercase; */
}

.courses-container h3:hover {
  color: #fc00ff;
}

.our-courses h1:hover {
  color: var(--on-hover-purple);
  text-shadow: -4px 3px 0 var(--white);
}
.courses-container p:hover,
.courses-container h4:hover {
  color: var(--black);
}

.our-courses {
  margin-bottom: 30px;
  font-weight: bold;
  background-color: transparent;
  color: var(--white);
  border-radius: 2rem;
  padding: 20px 40px 20px 40px;
}
.our-courses h1 {
  color: #fc00ff;
  text-shadow: -4px 3px 0 #0a0e27;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 15px;
  text-align: center;
  font-family: var(--title-font-family);
}

.ourCourses-paragraph {
  text-align: center;
  font-size: 30px;
  font-family: var(--font-family-p);
}

div.products-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gradient-container {
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
}

.product-css {
  border: solid 2px lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  margin: 30px 30px;
  padding: 30px;
  width: 25rem;
  height: 28rem;
  background-color: #03befc;
  background-image: linear-gradient(to right, #03befc, #2fe6e9);
  color: var(--white);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button.buyNow {
  background-color: #9423f7 !important;
  color: var(--white);
  font-family: var(--title-font-family);
}
button.buyNow:hover {
  cursor: pointer;
  color: #2fe6e9;
  transform: scale(1.05);
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

.course-details {
  margin-top: 20px;
}

.checkout {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#checkout {
  width: 40vw;
  height: 100px;
  background-color: #fc00ff;
  background-image: linear-gradient(to right, #fc00ff, #c98cff);
  font-weight: bold;
  font-size: 30px;
  color: var(--white);
  font-family: var(--title-font-family);
}

button.button-checkout:hover {
  cursor: pointer;
  color: #00dbde;
  transform: scale(1.05);
}

#paymentSuccessful {
  color: var(--white);
  font-family: var(--title-font-family);
  font-size: 30px;
}

.successDiv {
  min-width: 40vw;
  background-color: #00dbde;
  background-image: linear-gradient(to left, #00dbde, #a64bf4);
  padding: 30px;
  border-radius: 2rem;
  text-align: center;
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

/*---------FAQ  COLLAPSIBLE------------------------------------*/
.faqs-container {
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  padding: 20px 40px 20px 40px;
  margin-bottom: 30px;
  border-radius: 2rem;
  margin-top: 100px;
  min-height: 80vh;
  width: 60vw;
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.faqs-container h1 {
  color: var(--white);
  text-shadow: -4px 3px 0 #0a0e27;
  font-weight: bold;
  text-align: center;
  font-family: var(--title-font-family);
}

.faqs-container h1:hover {
  color: var(--black);
  text-shadow: -4px 3px 0 #00dbde;
}

.faqs-container p:hover {
  color: var(--black);
}

.faqs-container p {
  font-weight: bold;
  text-align: center;
  color: var(--white);
  font-family: var(--title-font-family);
  font-size: 20px;
}

.collapse-faqs-btn {
  background-color: #00dbde !important;
  opacity: 9;
  color: var(--white);
  font-weight: bold;
  width: 100%;
  font-size: 20px;
}

.collapse-faqs-btn:hover {
  color: var(--black) !important;
  border: 2px solid lightgray;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

.answer-container {
  color: rgb(36, 35, 35);
  font-size: 20px;
  font-family: var(--title-font-family);
}

/*---------FOOTER------------------------------------*/

footer {
  background-color: #a64bf4;
  background: -webkit-linear-gradient(45deg, #fc00ff, #00dbde);
  background: -o-linear-gradient(45deg, #fc00ff, #00dbde);
  background: -moz-linear-gradient(45deg, #fc00ff, #00dbde);
  background: linear-gradient(45deg, #fc00ff, #00dbde);
  color: var(--white);
  font-family: var(--title-font-family);
  font-weight: bold;
  font-size: 18px;
  width: 100vw;
  height: 200px;
  margin-top: 0;

  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-container a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: inherit;
  margin-bottom: 15px;
}

.footer-title {
  font-size: 30px;
}

.footer-title:hover {
  color: var(--on-hover-purple);
  cursor: pointer;
}

.icons-container a:hover {
  color: var(--on-hover-purple);
}

div.height100 {
  min-height: 100vh;
}
